# Fine-grained personal access token with admin:org read+write
GITHUB_TOKEN=YOUR_TOKEN_HERE_LIKE ghp_abcdefghijkglmnop1123456789
# GitHub organization name
GITHUB_ORG=accso
# GitHub team display name
GITHUB_TEAM_NAME=Accso-Copilot-Lizenz